go 1.25.0

use (
	.
	./adapter/chiopenapi
	./adapter/chiopenapi/examples/basic
	./adapter/echoopenapi
	./adapter/echoopenapi/examples/basic
	./adapter/echov5openapi
	./adapter/echov5openapi/examples/basic
	./adapter/fiberopenapi
	./adapter/fiberopenapi/examples/basic
	./adapter/ginopenapi
	./adapter/ginopenapi/examples/basic
	./adapter/httpopenapi
	./adapter/httpopenapi/examples/basic
	./adapter/httprouteropenapi
	./adapter/httprouteropenapi/examples/basic
	./adapter/muxopenapi
	./adapter/muxopenapi/examples/basic
	./examples/basic
	./examples/petstore
)
