go 1.25.0

use (
	.
	./adapter/chiopenapi
	./adapter/chiopenapi/example
	./adapter/echoopenapi
	./adapter/echoopenapi/example
	./adapter/echov5openapi
	./adapter/echov5openapi/example
	./adapter/fiberopenapi
	./adapter/fiberopenapi/example
	./adapter/fiberv3openapi
	./adapter/fiberv3openapi/example
	./adapter/ginopenapi
	./adapter/ginopenapi/example
	./adapter/httpopenapi
	./adapter/httpopenapi/example
	./adapter/httprouteropenapi
	./adapter/httprouteropenapi/example
	./adapter/muxopenapi
	./adapter/muxopenapi/example
	./examples/basic
	./examples/petstore
)
